$dark: #000;
$light: #fff;
$active: #fa5e5b;

* {
  font-family: 'Droid Sans Mono', monospace;
}

//Nav
nav {
  display: flex;
}

//Links
a{
  padding-right: 10px;
  color: $dark;
  transition: all ease .3s;
  &:link {
    color: $dark;
  }
  &:visited {
    color: $dark;
  }
  &:hover {
    transition: all ease .3s;
    color: $active;
  }
  &:active {
    transition: all ease .3s;
    color: $active;
  }
  &.active {
    color: $active;
  }
}

//animations
.route-enter {
  opacity: 0.01;
  transition: opacity .5s ease-in;
}

.route-enter.route-enter-active {
  opacity: 1;
}

.route-leave {
  opacity: 1;
  transition: opacity .5s ease-in;
}

.route-leave.route-leave-active {
  opacity: 0.01;
}

//WorkItem
.work-item-list{
  display: flex;
  flex-flow: row wrap;
}
.workItem{
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background-repeat: none;
  background-position: center;
  background-size: cover;
  transition: all .5s ease;
  height: 300px;
  text-decoration: none;
  text-align: center;
  h3{
    transition: all 1.5s ease;
    padding: 2em;
    background: rgba(0,0,0, .55);
    color: $light;
  }
  p{
    display:none;
  }
  &:hover{
    transition: all .5s ease;
    transform: scale(1.2);
    filter: grayscale(100%);
    h3{
      transition: all 1.5s ease;
      background: rgba(0,0,0, 1);
      color: $active;
    }
  }
}
