* {
  font-family: 'Droid Sans Mono', monospace;
}

body {
  overflow: hidden;
}

//Links
a{
  color: #000;
  transition: all ease .3s;
}

a:link {
  color: #000;
}
a:visited {
  color: #000;
}
a:hover {
  transition: all ease .3s;
  color: #fa5e5b;
}
a:active {
  transition: all ease .3s;
  color: #fa5e5b;
}
a:active {
  color: #fa5e5b;
}

//animations
:global {
  #main {
    display: flex;
    flex-flow: row wrap;
    align-items: stretch;
    height:100vh;
    min-height:100vh;
  }

  #side-menu {
    flex: 0.3;
  }

  #content {
    flex: 0.7;
    padding-top: 10vh;
    overflow-x: auto;
    background: url('/images/pizza.jpg') 50% 50% / cover no-repeat;;
  }

  .hangover{
    clear: both;
    height: 20vh;
  }

  .hangover h1 {
    position: absolute;
    border-bottom: 10px solid yellow;
    z-index: 5;
  }

  .transition-group {
    position: relative;
    flex-grow: 1;
  }

  .page-enter {
    opacity: 0;
    transform: translateY(-10rem);
    transition: all 300ms ease-out;
    transition-delay: 300ms;
  }

  .page-enter.page-enter-active {
    opacity: 1;
    transform: none;
  }

  .page-leave {
    opacity: 1;
    transition: all 300ms linear;
  }

  .page-leave.page-leave-active {
    opacity: 0;
  }
}

//WorkItem
.flex_list{
  display: flex;
  flex-flow: row wrap;
}
